.track-map {
  display: block;
  height: 100%;
  width: 100%;

  .track-map-image {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.meta-list {
  .meta-label {
    font-weight: bold;
    margin-right: 5px;
  }
}
