.driver-detail {
  border-left: 5px solid transparent;
  padding: 1rem 0.5rem 1rem 1rem;

  &.media {
    & + .media {
      border-top: none;
    }
  }

  .media-left {
    display: flex;
    align-items: center;

    .race-position {
      margin: 0 1rem 0 0;
      text-align: center;
      width: 35px;

      .dnf {
        font-size: 1rem;
      }
    }
  }

  .driver {
    display: flex;
    align-items: center;

    .driver-number,
    .driver-name {
      margin-right: 5px;
    }

    .country {
      img {
        height: 30px;
        width: 30px;
      }
    }

    &:not(.is-spaced) {
      & + .subtitle {
        &.driver-team {
          margin-top: -1.5rem;
        }
      }
    }
  }
}
